$color-personalizado1: #0a497b; /*definimos color personalizado1*/

.navbar-blue {
    background-color: $color-personalizado1;

    .navbar-nav {
        .nav-link.text-white {
            &:hover { 
                color: #cb3424 !important;
            }
        }
    }
}
footer {
    background-color: $color-personalizado1;
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: red;
       } 
    }
}
.micarousel {
    height: 650px; /* Ajusta la altura según tus necesidades */
    .carousel-inner img {
        width: 100%; /* Garantiza que la imagen ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción original de la imagen */
      }
    }

    
