$color-personalizado1: #0a497b; /*definimos color personalizado1*/

.navbar-blue {
    background-color: $color-personalizado1;

    &:hover { 
        background-color: lighten ($color-personalizado1,20%);
    }
}